RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f #VAI NEGAR TUDO QUE FOR UM ARQUIVO
RewriteCond %{REQUEST_FILENAME} !-d #VAI NEGAR TUDO QUE FOR UM DIRETÓRIO
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?request=$1 [QSA,L]